<div class="conteneurDemiWidth">

  <form  #f="ngForm">
    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
      {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>JE CRÉE MON COMPTE</ng-template>

                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" name="email"  ngModel required>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Password</mat-label>

                  <input matInput  name="password" ngModel required placeholder="password" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Confirmation</mat-label>
                  <input matInput  name="Confirmation" ngModel required placeholder="Confirmation" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                </mat-form-field>



                  <div>
                    <button mat-button matStepperNext>Next</button>
                  </div>

    </mat-step>

    <mat-step stepControl="secondFormGroup">
            <ng-template matStepLabel>Vous</ng-template>

            <mat-form-field class="full-width" appearance="outline">
              <input matInput placeholder="Nom" name="nom" ngModel required>

            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <input matInput placeholder="Prenom" name="prenom" ngModel required>

            </mat-form-field>

            <mat-radio-group aria-label="Select an option" name="civilite" ngModel required>
              <mat-radio-button value="Monsieur">Monsieur</mat-radio-button>
              <mat-radio-button value="Madame">Madame</mat-radio-button>
            </mat-radio-group>


              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>votre entreprise</ng-template>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Entreprise</mat-label>
        <input matInput placeholder="Nom entreprise" name="nomentreprise"  ngModel required>
      </mat-form-field>
      <mat-form-field class="full-width">
      <mat-label>Fonction</mat-label>
      <mat-select id="fontion" name="fonction" ngModel>
        <mat-option value="Directeur"> Directeur </mat-option>
        <mat-option value="PDG"> PDG </mat-option>
      </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Address </mat-label>
        <input matInput placeholder="Address entreprise" name="addressentreprise"  ngModel required>
      </mat-form-field>

     <mat-form-field class="full-width" appearance="outline">
            <mat-label>Logo </mat-label>
            <input matInput placeholder="logo" name="logo"  ngModel required>
          </mat-form-field>


      <button type="submit" (click)="onSubmit(f)" class="btn btn-primary">Submit</button>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</form>


</div>
