<div  class="conteneurDemiWidth">
<div id="signupForm">
  <form  #f="ngForm">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" name="email"  ngModel required>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" name="password" [type]="hide ? 'password' : 'text'" ngModel required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Confirmation</mat-label>
      <input matInput placeholder="Confirmation Password" name="confirmation" [type]="hide ? 'password' : 'text'" ngModel required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <input matInput placeholder="Nom" name="nom" ngModel required>

    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <input matInput placeholder="Prenom" name="prenom" ngModel required>

    </mat-form-field>

    <mat-radio-group aria-label="Select an option" name="civilite" ngModel required>
      <mat-radio-button value="Monsieur">Monsieur</mat-radio-button>
      <mat-radio-button value="Madame">Madame</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="full-width">
      <mat-label>Fonction</mat-label>
      <mat-select id="fontion" name="fonction" ngModel>
        <mat-option value="Directeur"> Directeur </mat-option>
        <mat-option value="PDG"> PDG </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="full-width" appearance="outline">
      <input matInput placeholder="Téléphone" name="tel" ngModel required>

    </mat-form-field>

    <button type="submit" (click)="onSubmit(f)" class="btn btn-primary">Submit</button>

  </form>
</div>
</div>
