<div class="contact">

  <div class="formContact">contact

  <mat-form-field class="example-full-width"  appearance="outline">
    <input matInput placeholder="Email" name="email" ngModel required>
  </mat-form-field>

  <mat-form-field class="example-full-width"  appearance="outline">
    <input matInput placeholder="subject" name="sujet" ngModel required>
  </mat-form-field>


  <mat-form-field class="example-full-width"  appearance="outline">
    <textarea matInput placeholder="Message"></textarea>
  </mat-form-field>

    <button type="submit" class="btn btn-primary">Envoyer</button>
  </div>
</div>
