<div class="fond-normal">

  <div class="pdt50">

    <a class="circle hvr-icon-hang" href="/acheteur">
      Publiez et<br>dématérialisez<br>vos marchés<br>
      <i aria-hidden="true" class="fas fa-arrow-right hvr-icon"></i>
    </a>

    <div  class="searchbarAo">
      <p>Trouvez
        de nouveaux marchés</p>
      <section id="contentFormSearch">
        <form id="searchAppelOffre" name="searchAppelOffre" action="/search">
          <div class="conteneurWidth marginAuto">
            <div class="relative">
              <span class="picto"><mat-icon   matTooltip="Search">search</mat-icon></span>
              <div class="contentFields ui-widget">
                <div class="contentField animateLabel noMaxWidth">
                  <input type="text" name="search" id="search" value="" placeholder="Rechercher un appel d'offres...">
                </div>
              </div>
              <button class="searchButton" (click)="onSearch()" type="submit">OK</button>
            </div>
          </div>
        </form>
      </section>

    </div>

  </div>
</div>
<div class="accueil">
 <div class="accueilContent bwhite">
   <p> Vous êtes une entreprise, surveillez les marchés publics dès maintenant </p>
   <div class="presentation">
     <div class="service">
       <ul>
         <li>
           <p class="ico-clock">Ne perdez plus de temps à chercher vos appels d'offres</p>
         </li>
         <li class="ico-envelope">
           <p>Recevez chaque jour vos marchés par e-mail</p>
         </li>
         <li class="ico-map">
           <p>Accédez à toutes les sources : Boamp, Joue, presse, E-MP...</p>
         </li>
         <li class="ico-download">
           <p>Téléchargez les dossiers de consultation (DCE)</p>
         </li>
         <li class="ico-file">
           <p>Remplissez automatiquement vos formulaires</p>
         </li>
         <li class="ico-shield">
           <p>Déposez vos offres et candidatures en toute sécurité</p>
         </li>
         <li class="ico-bullseye">
           <p>Surveillez vos concurrents</p>
         </li>
         <li class="mb-0">
           <a href="/enregistrement_entreprise" onclick="return tag.click.send({elem:this, name:'creer_compte', chapter1:'home_ent', chapter2:'entreprise', level2:'1', type:'navigation'});">
             <button type="submit" class="signup-button signup-shadow mt-2">Créer un compte
               gratuitement
             </button>
           </a>
         </li>
       </ul>

     </div>
     <div class="service"> <img src="https://www.e-marchespublics.com/img/corner.jpg" width="500"> </div>

   </div>

 </div>

  <div class="light-grey pdb20">
    <div class="emp-content">
        <h6>Les derniers appels d'offres</h6>
      <form action="/appel-offre" method="post" class="slideshow-list-button">
        <input type="hidden" name="_token" value="TmRKcfnwRloaA7c8n78voDRshJZc5nwqMSJmUqN4">                    <input type="hidden" name="category" value="Tous">
        <input type="hidden" name="notice_type" value="AAPC">
        <input type="hidden" name="what" value="">
        <input type="hidden" name="where" value="all">
        <button type="submit" class="extra-button submit-negative-list">Afficher tous les appels d'offres
        </button>
      </form>
    </div>
    <div class="slideshow">
      <i aria-hidden="true" class="fas fa-angle-left" data-dir="prev"></i>

          <div class="slide-element lastnotices" data-number="1" style="overflow: hidden; background-color: white;">
            <h6>Cté Cnes Pays de l'Iroise</h6>
            <div class="coll-separate"></div>
            <div class="element-content">
              <p class="noselect ellipse-grey-on-white" style="height: 63px;">Maîtrise d'oeuvre pour l'extension du réseau assainissement des eaux usées secteur Lanfeust au Conquet - Marché de services n°M19-42</p>
            </div>

            <form method="post" action="/appel-offre/bretagne/finistere/lanrivoare/643082/6385">
              <button type="submit" class="extra-button">
                Plus d'informations
              </button>
            </form>
          </div>

          <div class="slide-element lastnotices" data-number="1" style="overflow: hidden; background-color: white;">
            <h6>Centre Hospitalier</h6>
            <div class="coll-separate"></div>
            <div class="element-content">
              <p class="noselect ellipse-grey-on-white" style="height: 63px;">ENTRETIEN ET REPARATION PARC AUTO </p>
            </div>

            <form method="post" action="/appel-offre/bretagne/finistere/lanrivoare/643082/6385">
              <button type="submit" class="extra-button">
                Plus d'informations
              </button>
            </form>
          </div>

          <div class="slide-element lastnotices" data-number="1" style="overflow: hidden; background-color: white;">
            <h6>Iset Sousse</h6>
            <div class="coll-separate"></div>
            <div class="element-content">
              <p class="noselect ellipse-grey-on-white" style="height: 63px;">Data center , 500 pc gamer </p>
            </div>

            <form method="post" action="/appel-offre/bretagne/finistere/lanrivoare/643082/6385">
              <button type="submit" class="extra-button">
                Plus d'informations
              </button>
            </form>
          </div>





      <i aria-hidden="true" class="fas fa-angle-right" data-dir="next"></i>

    </div>
  </div>

</div>
