<div class="fond-normal">

  <div class="pdt50">

    <a class="circle hvr-icon-hang" routerLink="/public/tarification">
      Publiez et<br>dématérialisez<br>vos marchés<br>
      <i aria-hidden="true" class="fas fa-arrow-right hvr-icon"></i>
    </a>

    <div  class="searchbarAo">
      <p>Trouvez <br>
        de nouveaux marchés</p>
      <section id="contentFormSearch">
        <form id="searchAppelOffre" name="searchAppelOffre" action="/search">
          <div class="conteneurWidth marginAuto">
            <div class="relative">
              <span class="picto"><mat-icon   matTooltip="Search">search</mat-icon></span>
              <div class="contentFields ui-widget">
                <div class="contentField animateLabel noMaxWidth">
                  <input type="text" name="search" id="search" value="" placeholder="Rechercher un appel d'offres...">
                </div>
              </div>
              <button class="searchButton" (click)="onSearch()" type="submit">OK</button>
            </div>
          </div>
        </form>
      </section>

    </div>

  </div>
</div>
<div class="accueil">
 <div class="accueilContent bwhite">
   <p style="margin-left: 193px; font-size: 15px; color: #1f86d4;"> Vous êtes un prestataire, surveillez les marchés publics dès maintenant </p>
   <div class="presentation">
     <div class="service">
       <ul>
         <li>
           <p class="ico-clock">Ne perdez plus de temps à chercher vos appels d'offres</p>
         </li>
         <li class="ico-envelope">
           <p>Recevez chaque jour vos marchés par e-mail</p>
         </li>
         <li class="ico-map">
           <p>Accédez à toutes les appels d'offres immédiat </p>
         </li>
         <li class="ico-download">
           <p>Téléchargez les dossiers </p>
         </li>
         <li class="ico-file">
           <p>Remplissez facilement vos formulaires</p>
         </li>
         <li class="ico-shield">
           <p>Déposez vos offres et candidatures en toute sécurité</p>
         </li>
         <li class="ico-bullseye">
           <p>Surveillez vos concurrents</p>
         </li>
         <li class="mb-0">
           <a routerLink="/public/signup" >
             <button type="submit" class="signup-button signup-shadow mt-2">Créer un compte
             </button>
           </a>
         </li>
       </ul>

     </div>
     <div class="service"> <img src="https://www.e-marchespublics.com/img/corner.jpg" width="500"> </div>

   </div>

 </div>

  <div class="light-grey pdb20">
    <div class="emp-content">
        <h6>Les derniers appels d'offres</h6>
      <form action="/appel-offre" method="post" class="slideshow-list-button">
        <input type="hidden" name="_token" value="TmRKcfnwRloaA7c8n78voDRshJZc5nwqMSJmUqN4">                    <input type="hidden" name="category" value="Tous">
        <input type="hidden" name="notice_type" value="AAPC">
        <input type="hidden" name="what" value="">
        <input type="hidden" name="where" value="all">
        <button  routerLink="/public/offres" class="extra-button submit-negative-list">Afficher tous les appels d'offres
        </button>
      </form>
    </div>
    <div class="slideshow">
      <i aria-hidden="true" class="fas fa-angle-left" data-dir="prev"></i>

            <div *ngFor="let offre of offres  | slice:0:3; let i=index " class="slide-element lastnotices" data-number="1" style="overflow: hidden; background-color: white;">
              <h6>{{offre.objet}}</h6>
              <div class="coll-separate"></div>
              <div class="element-content">
                <p class="noselect ellipse-grey-on-white" style="height: 63px;">{{offre.description}}</p>
              </div>

              <form method="post" action="/appel-offre/bretagne/finistere/lanrivoare/643082/6385">
                <button routerLink="/public/offres/show/{{offre.id}}" class="extra-button">
                  Plus d'informations
                </button>
              </form>
            </div>


      <i aria-hidden="true" class="fas fa-angle-right" data-dir="next"></i>

    </div>
  </div>

</div>
