<footer>
  <h2 class="titreHidden">Informations complémentaire</h2>
  <div class="top">
    <div id="footerFirst2C" class="relative conteneurWidth marginAuto">
      <div class="clearfix border pdr20 pdl20">
        <div class="fleft relative">
          <h3 class="titre">Suivez-nous</h3>
          <p>Retrouvez Mauritaniemarchés.fr sur les réseaux sociaux, et suivez toutes nos actualités et nos offres.</p>
          <ul class="clearfix socialNetworks">

            <li><a href="https://twitter.com/francemarches" class="link" rel="nofollow" target="_blank" title="Twitter France Marchés (nouvelle fenêtre)"><i class="fab fa-twitter fa-2x" style="color: white"></i></a></li>
            <li><a href="https://twitter.com/francemarches" class="link" rel="nofollow" target="_blank" title="Twitter France Marchés (nouvelle fenêtre)"><i class="fab fa-facebook-f fa-2x" style="color: white"></i></a></li>
            <li><a href="https://twitter.com/francemarches" class="link" rel="nofollow" target="_blank" title="Twitter France Marchés (nouvelle fenêtre)"><i class="fab fa-linkedin fa-2x" style="color: white"></i></a></li>

          </ul>
        </div>

        <div class="fright">
          <h3 class="titre">Abonnement newsletter</h3>
          <p>Abonnez-vous à notre newsletter mensuelle pour vous tenir informé de l’actualité des marchés publics.</p>
          <form action="#" name="inscriptionNewsletter" id="login_form" class="formInscriptionNewsletter">
            <div class="contentFields">
              <div class="contentField animateLabel">
                <label for="emailNewsletter">Saisissez votre adresse email...</label>
                <input type="text" name="email" id="emailNewsletter" value="">
                <input type="hidden" value="newsletter/add" id="actionEmailNewsletter" name="action">
              </div>
            </div>
            <button class="inscriptionButton" type="submit"><span class="text">Inscription</span><span><mat-icon color="white" style="width: 32px;margin-top: 12px;float: right;">arrow_forward</mat-icon></span></button>
          </form>

        </div>            </div>
      <div class="contentLinkForOffres pdt35 pdr20 pdl20">
        <h3 class="titre">Appels d'offres en région</h3>
        <ul class="linkOffres clearfix">
          <li><a href="https://www.francemarches.com/appels-offre/auvergne-rhone-alpes/" class="link">Adrar</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/bourgogne-franche-comte/" class="link">Assaba</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/bretagne/" class="link">Brakna</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/centre-val-de-loire/" class="link">Dakhlet Nouadhibou</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/corse/" class="link">Gorgol</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/dom-tom/" class="link">Guidimakha</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/grand-est/" class="link">Hodh Ech Chargui</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/hauts-de-france/" class="link">Hodh El Gharbi</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/le-de-france/" class="link">Inchiri</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/normandie/" class="link">Nouakchott-Nord</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/nouvelle-aquitaine/" class="link">Nouakchott-Ouest</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/occitanie/" class="link">Nouakchott-Sud</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/pays-de-la-loire/" class="link">Tagant</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/pays-de-la-loire/" class="link">Tiris Zemmour</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/pays-de-la-loire/" class="link">Trarza</a></li>
        </ul>
        <h3 class="titre">Appels d'offres par thématique</h3>
        <ul class="linkOffres clearfix">
          <li><a href="https://www.francemarches.com/appels-offre/assurance/" class="link">Assurance</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/batiment-btp/" class="link">Bâtiment/BTP</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/communication/" class="link">Communication </a></li>
          <li><a href="https://www.francemarches.com/appels-offre/conseil/" class="link">Conseil </a></li>
          <li><a href="https://www.francemarches.com/appels-offre/construction/" class="link">Construction </a></li>
          <li><a href="https://www.francemarches.com/appels-offre/environnement/" class="link">Environnement</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/formation/" class="link">Formation </a></li>
          <li><a href="https://www.francemarches.com/appels-offre/internet-web/" class="link">Internet/Web</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/photovoltaique/" class="link">Photovoltaïque</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/proprete/" class="link">Propreté </a></li>
          <li><a href="https://www.francemarches.com/appels-offre/sante/" class="link">Santé</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/securite/" class="link">Sécurité</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/traduction/" class="link">Traduction</a></li>
          <li><a href="https://www.francemarches.com/appels-offre/transport/" class="link">Transport </a></li>
          <li><a href="https://www.francemarches.com/appels-offre/travaux/" class="link">Travaux </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="relative conteneurWidth marginAuto">
      <div class="verticalMiddle pdr20 pdl20">
        <div class="clearfix">
          <div class="fleft">
            <span class="copyright">©2019 Mauritanie Marchés.</span>
          </div>
          <ul class="fright">
            <li><a href="https://www.francemarches.com/contact/" class="link">Contact</a></li>
            <li><a href="https://www.francemarches.com/aide/" class="link">Aide</a></li>
            <li><a href="https://www.francemarches.com/faq/" class="link">FAQ</a></li>
            <li><a href="https://www.francemarches.com/plan/" class="link">Plan du site</a></li>
            <li><a href="https://www.francemarches.com/CGU/" class="link">CGU</a></li>
            <li><a href="https://www.francemarches.com/mentions/" class="link">Mentions légales</a></li>
            <li><a href="https://www.francemarches.com/credits/" class="link">Crédits</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
