<div class="cadreBleu ombrage">

  <div class="conteneurWidth marginAuto relative">
    <div class="fcontent">

      <div class="column_right">
        <mat-card class="card-ao">
          <mat-card-header class="card-header-ao">
            <div class="mat-title-ao">
              <h2 class="titre">
                <a  class="link">Création d'une médiathèque</a>
              </h2></div>
            <div class="infoBullePictoRight infoBullePictoFavoris">
              <span class="contentInfoBulle" style="opacity: 0; right: 5px; display: none;"><span class="infoBulle"><span class="picto"></span><span class="texte">Ajouter cet appel d'offres à mes documents</span></span></span>
              <div class="overflowFavoris">
                <a href="?action=documents/add&amp;document_id=2/oufr/7201739201" class="link favoris createAlerte" onclick="track_event('Partage', GLOB.get('PAGE_GOOGLE_ANALITICS'), 'Ajouter à mes documents');">
                  <span class="picto pictoNoFavoris basic-pictostar"></span>
                  <span class="picto pictoFavoris basic-pictostarfull"></span>
                  <input type="hidden" name="ajaxhref" value="?action=documents/add&amp;document_id=2/oufr/7201739201">
                </a>
              </div>

            </div>


          </mat-card-header>

          <mat-card-content>

            <div class="contentInfosOffres">
              <ul class="clearfix">

                <li class="continent">
                  Appel d'offre : national
                </li>

                <li class="dateParution">
                  <strong>
                    Date de parution : <time datetime="05/05/2019">05/05/2019</time>
                  </strong>
                </li>

                <li class="client">
                  Client : Rémalard-en-Perche
                </li>

                <li class="dateCloture">
                  <strong>
                    Date de clotûre : <span class="value"><time datetime="23/05/2019">23/05/2019</time></span>
                  </strong>
                </li>

                <li class="localisation">
                  <ul class="clearfix">
                    <li>
                      <mat-icon   matTooltip="Location">location_on</mat-icon>
                      Localisation : <span class="bold">61 - Orne</span>
                    </li>

                  </ul>
                </li>
                <li class="provenance">
                  <img src="https://www.francemarches.com/i/sources/color-big/ouest-france.GIF" width="73" height="20" alt="Ouest-France" title="Ouest-France">
                </li>

              </ul>
            </div>


            TEXTE LÉGAL DE L’APPEL D’OFFRE
            Rémalard-en-Perche
            Création d'une médiathèque
            Procédure adaptée ouverte
            Pouvoir adjudicateur :commune de Rémalard-en-Perche, 23, rue de l'Église, 61110 Rémalard-en-Perche. Tél. 02 33 73 81 18.
            E-mail : mairie@remalardenperche.fr
            Adresse internet : www.remalardenperche.fr
            Objet du marché : création d'une médiathèque.
            Caractéristiques
            Type de procédure : procédure adaptée ouverte.
            Lots - Description succincte
            Lot 1 : lot A : désamiantage.
            Lot 2 : lot B : maçonnerie, gros oeuvre.
            Lot 3 : D : cloisons, isolation, doublages, faux plafonds, menuiseries bois.
            Lot 4 : F : charpente existante, couverture.
            Lot 5 : H : menuiseries extérieures aluminium, serrurerie.
            Lot 6 : lot K : chauffage, sanitaire, ventilation.
            Lot 7 : lot N : électricité.
            Lot 8 : lot 9 : peinture, revêtements de sols.
            Lot 9 : lot S : aménagement extérieurs, espaces verts, clôtures.
            Durée du marché : marché de 10 mois à partir de juillet 2019.
            Critères de sélection :
            - prix des prestations 60 points,
            - valeur technique 40 points.
            Date limite :
            Datede clôture : jeudi 23 mai 2019, 12 h 00.
            Autres informations : visite obligatoire.
            Date d'envoi du présent avis : 26 avril 2019.
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Postuler</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>
</div>
