<div class="cadreBleu ombrage">

    <div class="conteneurWidth marginAuto relative">
        <div class="fcontent">

            <div class="column_right">
                <mat-card class="card-ao">
                    <mat-card-header class="card-header-ao">
                        <div class="mat-title-ao">
                            <h2 class="titre">
                                <a class="link">Création d'une médiathèque</a>
                            </h2></div>
                        <div class="infoBullePictoRight infoBullePictoFavoris">
                            <span class="contentInfoBulle" style="opacity: 0; right: 5px; display: none;"><span
                                    class="infoBulle"><span class="picto"></span><span class="texte">Ajouter cet appel d'offres à mes documents</span></span></span>
                            <div class="overflowFavoris">
                  <span class="link favoris createAlerte">
                  <span *ngIf="!isfavoris" class="picto pictoNoFavoris" (click)="onAddFavoris()"> <mat-icon
                          matTooltip="favoris">star_border</mat-icon></span>
                  <span *ngIf="isfavoris" class="picto pictoFavoris" (click)="onRemoveFavoris()"> <mat-icon
                          matTooltip="favoris">star</mat-icon></span>
                </span>
                            </div>

                        </div>
                    </mat-card-header>

                    <mat-card-content>

                        <div class="contentInfosOffres">
                            <ul class="clearfix">

                                <li class="continent">
                                    Appel d'offre : {{offre.type}}
                                </li>

                                <li class="dateParution">
                                    <strong>
                                        Date limite : {{offre.dateLimite | date: 'dd/MM/yyyy'}}
                                    </strong>
                                </li>

                                <li class="client">
                                    Client : Rémalard-en-Perche
                                </li>

                                <li class="dateCloture">
                                    <strong>
                                        Date d'execution : <span
                                            class="value">{{offre.dateExecution| date: 'dd/MM/yyyy'}}</span>
                                    </strong>
                                </li>

                                <li class="localisation">
                                    <ul class="clearfix">
                                        <li>
                                            <mat-icon matTooltip="Location">location_on</mat-icon>
                                            Localisation : <span class="bold">{{offre.address}}</span>
                                        </li>

                                    </ul>
                                </li>
                                <li class="provenance">
                                    <img src="https://www.francemarches.com/i/sources/color-big/ouest-france.GIF"
                                         width="73" height="20" alt="Ouest-France" title="Ouest-France">
                                </li>

                            </ul>
                        </div>


                        <p>
                            {{offre.description}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="showForm()">Postuler</button>
                    </mat-card-actions>
                </mat-card>


                <mat-card class="card-ao" *ngIf="displayForm">
                    <mat-card-header class="card-header-ao">
                        Create demande
                    </mat-card-header>

                    <mat-card-content>
                        <form class="form-sample" (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div class="row">

                                <mat-form-field class="full-width" appearance="outline">
                                    <input matInput [matDatepicker]="picker2" placeholder="Date d'execution"
                                           name="dateExecution" ngModel>
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field class="full-width" appearance="outline">
                                    <input matInput placeholder="Durée" name="duree" ngModel required>
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Amount" type="number" name="tarif" ngModel required class="text_align_right">
                                    <span matPrefix>MRU&nbsp;</span>
                                    <span matSuffix>.00</span>
                                </mat-form-field>

                                <mat-form-field class="full-width" appearance="outline">
                                    <input matInput  placeholder="Devis" name="devis" ngModel required>
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <textarea matInput placeholder="description" rows="10" ngModel
                                              name="description"></textarea>
                                </mat-form-field>

                            </div>
                            <input type="hidden" name="offreId" [(ngModel)]="id" ngModel >
                            <input type="hidden" name="userId" [(ngModel)]="user.id" ngModel >
                            <button mat-raised-button>Postuler</button>

                        </form>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>


    </div>
</div>
