<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Module</mat-card-title>
  </mat-card-header>
  <mat-card-content>


    <form class="form-sample" (ngSubmit)="onSubmit(f)" #f="ngForm">


      <div class="row">
        <div class="col">
          <mat-form-field class="example-full-width form-element">
            <input matInput placeholder="Nom" name="nom" [(ngModel)]="plan.nom" required>
          </mat-form-field>



        </div>


        <div class="col">

          <mat-form-field class="example-full-width form-element">
            <input matInput placeholder="Prix mensuel" type="number" name="prix" [(ngModel)]="plan.prix" required
                   class="text_align_right">
            <span matPrefix>MRU&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>


        </div>

        <mat-form-field class="example-full-width form-element">
          <textarea matInput  placeholder="description" rows="10"  [(ngModel)]="plan.description" name="description"></textarea>
        </mat-form-field>

      </div>




    </form>

  </mat-card-content>
  <mat-card-actions>

    <button (click)="back()" id="retour" type="submit" mat-raised-button><mat-icon>keyboard_arrow_left</mat-icon> Retour à la liste</button>
    <button (click)="onSubmit(f)"  class="btn btn-success btn-rounded btn-fw" type="button">confirmer</button>
  </mat-card-actions>
</mat-card>
