<header>

  <div class="conteneurWidth" style="max-width: 100%;">
    <div class="relative">

      <div id="headerOpenMenu" class="contentMenuBurger">
        <span class="menuBurger"></span>
        <span class="name">Menu</span>
      </div>

      <div class="contentHeaderLogo">

        <h1 class="">

          <a routerLink="/public/accueil" class="link"><img src="https://i.imgur.com/lqrZHKE.png" alt="Mauritanie Marchés : Tous les jours, tous les appels d'offres et marchés publics"></a>

        </h1>

        

      </div>

      <div class="contentHeaderUser">
        <span *ngIf="!isAuthenticated()" >
          <a routerLink="/login" id="loginurl" class="signup-button">
                    <i aria-hidden="true" class="fas fa-user"></i>&nbsp;&nbsp;Connexion
          </a> </span>
        <span *ngIf="isFournisseur()" id="menuUser" >
          <a routerLink="/public/account/alerts" class="signup-button"><i aria-hidden="true" class="fas fa-user"></i>&nbsp;&nbsp;Compte</a>
        </span>
      </div>


    </div>
  </div>

</header>
<mat-toolbar-row class="navbar-bottom">

  <div id="sub-menu">
    <a href="/trouvez_appels_offres" class="">Surveillez les marchés publics</a>
    <a href="/trouvez_appels_offres" class="">Déposez vos offres</a>
    <a href="/trouvez_appels_offres" class="">Tarification</a>
    <a href="/trouvez_appels_offres" class="">Nous contacter</a>
    <a href="/enregistrement_entreprise" class="compte">
      <button type="submit" >Créer un compte gratuitement</button>
    </a>

  </div>
</mat-toolbar-row>
