<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Appels d'Offres</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="objet">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Objet </th>
          <td mat-cell *matCellDef="let row"> {{row.objet}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="datelimite">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Limite </th>
          <td mat-cell *matCellDef="let row"> {{row.dateLimite | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="dateexecution">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d execution </th>
          <td mat-cell *matCellDef="let row"> {{row.dateExecution | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let row"> {{row.type}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> username </th>
          <td mat-cell *matCellDef="let row"> {{row.membre.username}} </td>
        </ng-container>



        <!-- Color action -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <mat-icon class="show" (click)="showOffre(row.id)" color="primary" matTooltip="show">visibility</mat-icon>
            <mat-icon color="warn"  matTooltip="delete">delete</mat-icon>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

  </mat-card-content>

</mat-card>
