<div  class="searchbarAo">
<div class="infoOffre">21 279 appels d'offres publics en cours</div>

  <section id="contentFormSearch">
    <form id="searchAppelOffre" name="searchAppelOffre" action="/search">
      <div class="conteneurWidth marginAuto">
        <div class="relative">
          <span class="picto"><mat-icon   matTooltip="Search">search</mat-icon></span>
          <div class="contentFields ui-widget">
            <div class="contentField animateLabel noMaxWidth">
              <input type="text" name="search" id="search" value="" placeholder="Rechercher un appel d'offres...">
            </div>
          </div>
          <button class="searchButton" type="submit">OK</button>
        </div>
      </div>
    </form>
  </section>

</div>
