<nav *ngIf="isAuthenticated()" class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="{{currentUser.image}}" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{currentUser.nom}} {{currentUser.prenom}}</p>
            <div>
              <small *ngIf="isAdmin()" class="designation text-muted">Administrateur</small>
              <small *ngIf="!isAdmin()" class="designation text-muted">Employé</small>

              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <button routerLink="/offres/create" class="btn btn-success btn-block">New Offres
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li *ngIf="isAdmin()" class="nav-item">
      <a class="nav-link" routerLink="/users" routerLinkActive="active">
        <i class="menu-icon fa fa-users"></i>
        <span class="menu-title">Utilisateurs</span>
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/offres" routerLinkActive="active">
        <i class="menu-icon fa fa-certificate"></i>
        <span class="menu-title">Offres</span>
      </a>
    </li>
    <li class="nav-item">
      <mat-accordion>
        <mat-expansion-panel style="box-shadow: unset;">
          <mat-expansion-panel-header style="padding-left: 0;">
            <mat-panel-title>
              <a class="nav-link" routerLinkActive="active">
                <i class="menu-icon fa fa-cog"></i>
                <span class="menu-title">Compte</span>
              </a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="sub-menu">
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile/1" routerLinkActive="active">  <span class="menu-title"> Profil </span>
              </a>
            </li>
            <li *ngIf="isAdmin()" class="nav-item">
              <a class="nav-link" routerLink="/entreprise/1"> <span class="menu-title" routerLinkActive="active">Entreprise</span>
              </a></li>
          </ul>
        </mat-expansion-panel>

      </mat-accordion>
    </li>

    <li *ngIf="isAdmin()" class="nav-item" >
      <a class="nav-link" routerLink="/modules" routerLinkActive="active">
        <i class="menu-icon fa fa-cubes"></i>
        <span class="menu-title">Modules</span>
      </a>
    </li>

    <li *ngIf="isAdmin()" class="nav-item" >
      <a class="nav-link" routerLink="/abonnement" routerLinkActive="active">
        <i class="menu-icon fa fa-sliders"></i>
        <span class="menu-title">Abonnement</span>
      </a>
    </li>
    <li *ngIf="isAdmin()" class="nav-item" >
      <a class="nav-link" routerLink="/factures" routerLinkActive="active">
        <i class="menu-icon fa fa-building"></i>
        <span class="menu-title">Factures</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/forms" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">Form elements</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/buttons" routerLinkActive="active">
        <i class="menu-icon mdi mdi-dna"></i>
        <span class="menu-title">Buttons</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" routerLink="/icons" routerLinkActive="active">
        <i class="menu-icon mdi mdi-chart-bubble"></i>
        <span class="menu-title">Icons</span>
      </a>
    </li>

  </ul>
</nav>
