<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row ">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="index.html">
      <img src="https://aoffre.s3.us-east-2.amazonaws.com/oo.png" alt="logo" />

    </a>
    <a class="navbar-brand brand-logo-mini" href="index.html">
      <img src="assets/images/logo-mini.svg" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">

    <ul class="navbar-nav navbar-nav-right">

      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" ngbDropdownToggle>
          <i class="mdi mdi mdi-bell"></i>
          <span *ngIf="this.notification && this.notification.type == 'entreprise'" class="count">1</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" ngbDropdownMenu aria-labelledby="notificationDropdown">
          <a class="dropdown-item">
            <p class="mb-0 font-weight-normal float-left">Vous avez 1 nouvelles notifications

            </p>
            <span class="badge badge-pill badge-warning float-right">View all</span>
          </a>
          <div class="dropdown-divider"></div>
          <a  *ngIf="this.notification" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-success">
                <i class="mdi mdi-alert-circle-outline mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <a> <h6 (click)="goTo(this.notification.idResource)" class="preview-subject font-weight-medium">{{notification.message}}</h6></a>
              <p class="font-weight-light small-text">
                Just now
              </p>
            </div>
          </a>
          <div  class="dropdown-divider"></div>
          <div *ngFor="let notif of notifications" >
          <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                        <i class="mdi mdi-alert-circle-outline mx-0"></i>
                    </div>
                </div>
                <div class="preview-item-content">
                    <a> <h6 (click)="goTo(notif.membre.entreprise.id )" class="preview-subject font-weight-medium">{{notif.membre.entreprise.nom}}  a été inscrit </h6></a>
                    <p class="font-weight-light small-text">
                      {{notif.createAt | date :'dd-MMM-yy h:mm:ss a '}}
                    </p>
                </div>
            </a>
            <div class="dropdown-divider"></div>
          </div>
        </div>
      </li>
      <li *ngIf="isAuthenticated()" class="nav-item dropdown d-none d-xl-inline-block" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="UserDropdown" ngbDropdownToggle>
          <span class="profile-text">Hello, {{currentUser.nom}} {{currentUser.prenom}} !</span>
          <img class="img-xs rounded-circle" src="{{currentUser.image}}" alt="Profile image">
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" ngbDropdownMenu aria-labelledby="UserDropdown">
          <a class="dropdown-item p-0">
            <div class="d-flex border-bottom">
              <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
              </div>
              <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                <i class="mdi mdi-account-outline mr-0 text-gray"></i>
              </div>
              <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
              </div>
            </div>
          </a>

          <a class="dropdown-item" (click)="logout()">
            Sign Out
          </a>
        </div>
      </li>
      <li *ngIf="!isAuthenticated()"><a routerLink="/login"> Login</a> </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
