<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Create Offre</mat-card-title>
    </mat-card-header>
    <mat-card-content>


        <form class="form-sample" (ngSubmit)="onSubmit(f)" #f="ngForm">


            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Objet" name="objet" ngModel required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Type</mat-label>
                        <mat-select name="type" ngModel >
                            <mat-option value="national"> National</mat-option>
                            <mat-option value="internationnal">Internationnal </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Secteur</mat-label>
                        <mat-select name="categorie" ngModel>
                            <mat-option *ngFor="let category of categories"  [value]="category.id"> {{category.name}} {{category.id}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Address" ngModel name="address"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>City</mat-label>
                        <mat-select name="city" ngModel >
                            <mat-option value="adrar"> Adrar</mat-option>
                            <mat-option value="assaba"> Assaba</mat-option>
                            <mat-option value="brakna"> Brakna</mat-option>
                            <mat-option value="dakhlet nouadhibou"> Dakhlet Nouadhibou</mat-option>
                            <mat-option value="gorgol"> Gorgol</mat-option>
                            <mat-option value="guidimakha"> Guidimakha</mat-option>
                            <mat-option value="hodh ech chargui"> Hodh Ech Chargui</mat-option>
                            <mat-option value="hodh el gharbi"> Hodh El Gharbi</mat-option>
                            <mat-option value="inchiri"> Inchiri</mat-option>
                            <mat-option value="nouakchott-nord"> Nouakchott-Nord</mat-option>
                            <mat-option value="nouakchott-ouest"> Nouakchott-Ouest</mat-option>
                            <mat-option value="nouakchott-sud"> nouakchott-sud</mat-option>
                            <mat-option value="tagant"> Tagant</mat-option>
                            <mat-option value="tiris zemmour"> Tiris Zemmour</mat-option>
                            <mat-option value="trarza"> Trarza</mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>


                <div class="col">

                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Date Limit" name="dateLimite" ngModel>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker2" placeholder="Date d'execution" name="dateExecution" ngModel>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Pays</mat-label>
                        <mat-select name="pays" ngModel >
                            <mat-option value="mauritanie"> Mauritanie</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                        <input type="file" id="input-file-id" class="file-uploader pull-left"  (change)="selectFile($event)">
                        <label class="btn btn-success" for="input-file-id">   <i class="mdi mdi-cloud-download"></i>Upload </label>{{imageSelected}}
                    </div>


                </div>

                <div class="mgt15">
                    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true"  ngModel name="description" ></app-ngx-editor>
                </div>

            </div>


            <button type="submit" mat-raised-button>Create</button>
            <button type="reset" mat-raised-button>Reset</button>

        </form>

    </mat-card-content>

</mat-card>
