<div class="tarification">

  <div class="freeOffre">
  <p class="title">La plateforme d'appel d'offre faite pour vous</p>
  <p class="subtitle">Que vous vendiez en ligne, sur les réseaux sociaux, en magasin, Shopify <br> vous accompagne partout et gère tous les aspects du e-commerce.
  </p>
    <a routerLink="/public/entreprise" >
      <button type="submit" class="signup-button signup-shadow mt-2">Essai gratuit
      </button>
    </a>
    <p class="description">Essayez Shopify gratuitement pendant 14 jours, aucune carte de crédit <br> requise. En saisissant votre adresse e-mail, vous acceptez de recevoir des e-mails<br> de marketing de la part de Shopify.
    </p>
  </div>


</div>
