
<div  class="searchbarAo">


  <section id="contentFormSearch">
    <form id="searchAppelOffre" name="searchAppelOffre" action="/search">
      <div class="conteneurWidth marginAuto">
        <div class="relative">
          <span class="picto"><mat-icon   matTooltip="Search">search</mat-icon></span>
          <div class="contentFields ui-widget">
            <div class="contentField animateLabel noMaxWidth">
              <input type="text" [(ngModel)]="objet" name="search" id="search" value="" placeholder="Rechercher un appel d'offres..." (change)="selectKeyword($event)">
            </div>

          </div>
          <button class="searchButton" (click)="filtrer()" type="submit">OK</button>
        </div>
      </div>
    </form>
  </section>

</div>



<div class="cadreBleu ombrage">

  <div class="conteneurWidth marginAuto relative">
<div class="fcontent">
    <div class="column_left">
      <div class="contentTopFormFilters">

        <h2 class="titleFiltre">Affinez votre recherche</h2>

      </div>
      <mat-accordion>
        <mat-expansion-panel class="expansion-panel-ao">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Secteur
            </mat-panel-title>

          </mat-expansion-panel-header>

          <mat-form-field class="example-full-width">
            <mat-label>Secteur</mat-label>
            <mat-select name="categorie" [(ngModel)]="categorie">
              <mat-option *ngFor="let category of categories"  [value]="category.id"> {{category.name}} </mat-option>
            </mat-select>
            {{categorie}}
          </mat-form-field>

        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-panel-ao" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Type
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-label>Type</mat-label>
            <mat-select name="type" [(ngModel)]="type" (change)="selectKeyword($event)" >
              <mat-option value="national"> National</mat-option>
              <mat-option value="internationnal">Internationnal </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-panel-ao" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              City
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-select name="city" [(ngModel)]="city" >
              <mat-option value="adrar"> Adrar</mat-option>
              <mat-option value="assaba"> Assaba</mat-option>
              <mat-option value="brakna"> Brakna</mat-option>
              <mat-option value="dakhlet nouadhibou"> Dakhlet Nouadhibou</mat-option>
              <mat-option value="gorgol"> Gorgol</mat-option>
              <mat-option value="guidimakha"> Guidimakha</mat-option>
              <mat-option value="hodh ech chargui"> Hodh Ech Chargui</mat-option>
              <mat-option value="hodh el gharbi"> Hodh El Gharbi</mat-option>
              <mat-option value="inchiri"> Inchiri</mat-option>
              <mat-option value="nouakchott-nord"> Nouakchott-Nord</mat-option>
              <mat-option value="nouakchott-ouest"> Nouakchott-Ouest</mat-option>
              <mat-option value="nouakchott-sud"> nouakchott-sud</mat-option>
              <mat-option value="tagant"> Tagant</mat-option>
              <mat-option value="tiris zemmour"> Tiris Zemmour</mat-option>
              <mat-option value="trarza"> Trarza</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>

      </mat-accordion>
    </div>


    <div class="column_right">
    <mat-card *ngFor="let offre of offresResult; let i = index " class="card-ao">
      <mat-card-header>
        <div class="mat-title-ao">

          <h2 class="titre">
            <a routerLink="/public/offres/show/{{offre.id}}" class="link">{{offre.objet}}</a>
          </h2></div>
          <span class="num">0{{i + 1}}</span>


      </mat-card-header>

      <mat-card-content>

        <div class="contentInfosOffres">
          <ul class="clearfix">

            <li class="continent">
              Appel d'offre : {{offre.type}}
            </li>

            <li class="dateParution">
              <strong>
                Date Limite : {{offre.dateLimite | date: 'dd/MM/yyyy'}}
              </strong>
            </li>

            <li class="client">
              Client : {{offre.entreprise.nom}}
            </li>

            <li class="dateCloture">
              <strong>
                Date d'execution : <span class="value">{{offre.dateExecution | date: 'dd/MM/yyyy'}}</span>
              </strong>
            </li>

            <li class="localisation">
              <ul class="clearfix">
                <li>
                  <mat-icon   matTooltip="Location">location_on</mat-icon>
                  Localisation : <span class="bold">{{offre.address}}</span>

                </li>

              </ul>
            </li>
            <li class="provenance">
              <img src="{{offre.entreprise.logo}}" height="20" width="120" alt="{{offre.entreprise.nom}}" >
            </li>

          </ul>
        </div>



      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
    </div>
  </div>

  </div>
</div>
