<div class="cadreBleu ombrage">

  <div class="conteneurWidth marginAuto relative">
    <div class="fcontent">

      <div class="column_right">
        <mat-card *ngFor="let favoris of favorises; let i = index" class="card-ao">
          <mat-card-header>
            <div class="mat-title-ao">

              <h2 class="titre">
                <a routerLink="/public/offres/show/{{favoris.offre.id}}" class="link">{{favoris.offre.objet}}</a>
              </h2></div>
            <span class="num">{{i}}</span>


          </mat-card-header>

          <mat-card-content>

            <div class="contentInfosOffres">
              <ul class="clearfix">

                <li class="continent">
                  Appel d'offre : {{favoris.offre.type}}
                </li>

                <li class="dateParution">
                  <strong>
                    Date Limite : {{favoris.offre.dateLimite | date: 'dd/MM/yyyy'}}
                  </strong>
                </li>

                <li class="client">
                  Client : {{favoris.offre.entreprise.nom}}
                </li>

                <li class="dateCloture">
                  <strong>
                    Date d'execution : <span class="value">{{favoris.offre.dateExecution | date: 'dd/MM/yyyy'}}</span>
                  </strong>
                </li>

                <li class="localisation">
                  <ul class="clearfix">
                    <li>
                      <mat-icon   matTooltip="Location">location_on</mat-icon>
                      Localisation : <span class="bold">{{favoris.offre.address}}</span>

                    </li>

                  </ul>
                </li>
                <li class="provenance">
                  <img src="https://www.francemarches.com/i/sources/color-big/ouest-france.GIF" width="73" height="20" alt="Ouest-France" title="Ouest-France">
                </li>

              </ul>
            </div>



          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>
</div>
