<div class="logo">
  <img src="{{entreprise.logo}}" width="160">
</div>

<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-cube text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Total des marchées </p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">MRU 65,650</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-receipt text-warning icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Offres</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">120</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Offres porposées
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-poll-box text-success icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Appels d'offres</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">20</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> les appels d'offres publié
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-account-location text-info icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Les employés</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">246</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Les employés actives
        </p>
      </div>
    </div>
  </div>
</div>


<mat-card class="full-width">

  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div class="coordonnees">
          <h6>Information</h6>
          <ul>
            <li>
              <span> Nom </span> <span>Biat </span>
            </li>
            <li>
              <span> Secteur </span> <span>Finance </span>
            </li>
            <li>
              <span> Adresse </span> <span>1 allée de la lutéce  </span>
            </li>


          </ul>

        </div>

      </mat-grid-tile>

      <mat-grid-tile>
        <div class="coordonnees">
          <h6>Coordonnées</h6>
          <ul>
            <li>
              <span> Email </span> <span>cotact@biat.com </span>
            </li>
            <li>
              <span> Tel </span> <span>003372123456 </span>
            </li>
            <li>
              <span> Site web </span> <span>www.biat.com </span>
            </li>
          </ul>

        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <h6>Platform</h6>
    <div class="platform">
    <ul>
      <li>
        <span> etat  </span> <span>Actif</span>
      </li>
      <li>
        <span> expire le  </span> <span>29/06/2019 </span>
      </li>
      <li>
        <span> join at  </span> <span>25/02/2019 </span>
      </li>
      <li>
        <span> Responsble  </span> <span> Brahim Sidaty  </span>
      </li>
      <li>
        <span> Modules installés   </span> <span> 2   </span>
      </li>
    </ul>
  </div>
  </mat-card-content>

</mat-card>
