<div *ngIf="!online" class="mode">

  <div><img src="https://i.imgur.com/zIjiocM.png" width="250"></div>
 <div style="padding-top: 100px; margin-left: 50px;font-weight: bold;font-size: 30px"> Site en cours de maintenance </div>

</div>
<div *ngIf="online" >


<div class="container-scroller">
  <app-navbar></app-navbar>
  <div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>

</div>
