/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import './assets/styles/variables';
@import "../node_modules/compass-mixins/lib/compass";
@import "../node_modules/compass-mixins/lib/animate";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/mdi/scss/materialdesignicons";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "./assets/styles/fonts";
@import "./assets/styles/functions";
@import "./assets/styles/mixins/background";
@import "./assets/styles/mixins/animation";
@import "./assets/styles/mixins/badges";
@import "./assets/styles/mixins/breadcrumbs";
@import "./assets/styles/mixins/pagination";
@import "./assets/styles/mixins/buttons";
@import "./assets/styles/mixins/misc";
@import "./assets/styles/mixins/color-functions";
@import "./assets/styles/mixins/cards";
@import "./assets/styles/mixins/tooltips";
@import "./assets/styles/mixins/popovers";
@import "./assets/styles/mixins/blockqoute";
@import "./assets/styles/accordions";
@import "./assets/styles/breadcrumbs";
@import "./assets/styles/forms";
@import "./assets/styles/icons";
@import "./assets/styles/tables";
@import "./assets/styles/buttons";
@import "./assets/styles/badges";
@import "./assets/styles/cards";
@import "./assets/styles/typography";
@import "./assets/styles/preview";
@import "./assets/styles/lists";
@import "./assets/styles/bootstrap-progress";
@import "./assets/styles/bootstrap-alerts";
@import "./assets/styles/tabs";
@import "./assets/styles/dropdowns";
@import "./assets/styles/pagination";
@import "./assets/styles/popovers";
@import "./assets/styles/modals";
@import "./assets/styles/nav";
@import "./assets/styles/reset";
@import "./assets/styles/rating";
@import "./assets/styles/layouts";
@import "./assets/styles/tooltips";
@import "./assets/styles/responsive";
@import "./assets/styles/misc";
@import "./assets/styles/utilities";
@import "./assets/styles/demo";
@import "./assets/styles/generique";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-smart-modal/ngx-smart-modal";
@import "app/app.component";
/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: 'Roboto', sans-serif; }


body {
  font-size: 14px;
  color: #3d4147;
  font-family: "Signika", Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 18px;
  height: 100%;
  margin: 0;
}

html, body { height: 100%; }

a {
  text-decoration: none;

}

/*!
 * Copyright (C) 2016 Sergey Akopkokhyants
 * This project is licensed under the terms of the MIT license.
 * https://github.com/akserg/ng2-slim-loading-bar
 */


/* Styling for the Slim Loading Progress Bar container */
.slim-loading-bar {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

/* Styling for the Slim Loading Progress Bar itself */
.slim-loading-bar-progress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: green;
  color: green;
  box-shadow: 0 0 10px 0; /* Inherits the font color */
  height: 2px;
  opacity: 0;

  /* Add CSS3 styles for transition smoothing */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mat-elevation-z8{
  box-shadow: unset!important;
}

.nsm-content{
  padding: 0!important;
}

.nsm-dialog {
  max-width: 900px!important;
}

mat-icon{
  cursor: pointer;
}


mat-card-actions button#retour{
  color: darkblue;
  box-shadow: unset;
}

mat-card-actions{
  text-align: right!important;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.doubleColumn{
  display: flex;

}

.unsetPadding{
  padding: unset!important;

}
