.topHead{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 30px;

}

.factureNum{
  padding: 20px;
  background-color: #eeee;

}

.topHead span{
  font-weight: 600;
  letter-spacing: 3px;
}

.print-section{
  width: 70%;
}

.logo{
  width: 250px;
  margin: auto;
  background-color: #383d75;

}
