<div class="row">
  <mat-card class="full-width">
    <mat-card-header class="header-card">
      <mat-card-title> Entreprise</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm" >
          <div class="form-group avatar">
            <figure class="figure col-md-2 col-sm-3 col-xs-12">
              <img class="img-rounded img-responsive" [(src)]="user.image" alt="" width="140">
            </figure>
            <div class="form-inline col-md-10 col-sm-9 col-xs-12">
              <input type="file" id="input-file-id" class="file-uploader pull-left"  (change)="selectFile($event)">
                <label class="btn btn-success" for="input-file-id">   <i class="mdi mdi-cloud-download"></i>Upload </label>{{imageSelected}}
            </div>
          </div>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" [(ngModel)]="user.email" readonly required>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Email" name="email" [(ngModel)]="user.username" readonly required>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" name="nom" [(ngModel)]="user.nom" required>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Prenom" name="prenom" [(ngModel)]="user.prenom" required>
          </mat-form-field>

          <mat-radio-group aria-label="Select an option" name="civilite"   [(ngModel)]="user.civilite" required>
            <mat-radio-button value="monsieur" >Monsieur</mat-radio-button>
            <mat-radio-button value="madame" >Madame</mat-radio-button>
          </mat-radio-group>

          <mat-form-field class="full-width">
            <mat-label>Fonction</mat-label>
            <mat-select id="fontion" name="fonction" [(ngModel)]="user.fonction">
              <mat-option value="Directeur"> Directeur </mat-option>
              <mat-option value="PDG"> PDG </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Télephone</mat-label>
            <input matInput placeholder="Téléphone" name="tel" [(ngModel)]="user.tel" required>
          </mat-form-field>

          <button type="submit" class="btn btn-primary">Update</button>


      </form>

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

</div>
